:root {
    --bg-primary: #F4F6FB;
    --bg-white: #fff;
    --bg-secondary: #111;
    --text-primary: #fff;
    --text-secondary: #5a6788;
    --accent: #0454B9;
    --accent-secondary: #0A1230;
    --accent-orange: #FFF8C0;
    --accent-red: #E11D2B14;

    --red: #E11D2B;


    --accent-hover: rgba(4, 84, 185, 0.7);
    --text-secondary-hover: rgba(90, 103, 136, 0.7);
  
    --font-base: 'Manrope', -apple-system, BlinkMacSystemFont, sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-base);
  font-size: 14px;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  letter-spacing: 1.5;
}

#root {
  min-height: 100vh;
  width: 100%;
}