.containerToast {
  display: flex;
  flex-direction: column;
}

.message {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.details {
  font-size: 0.875rem;
  code {
    font-family: monospace;
    font-weight: 600;
    padding: 0.125rem 0.25rem;
    border-radius: 0.125rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 0.25rem;
  }
}